
.home_swiper{
    .slider{
        .swiper{
            height: 100%;
            max-height: 525px;
        }
    }
    .testimonial_nav{
        svg{     
            path{
                fill: #4d0000;
            }
        }
    }
}